.Inscription__form {
  padding-top: 30px;

}

.Inscription__validate-button {
  margin-top: 30px;
  width: 100%;
}

.Inscription__very-small-input {
  width: 80px;
}

.Inscription__small-input {
  width: 110px;
}

.Inscription__medium-input {
  width: 150px;
}

.Inscription__error-message {
  font-size: 75%;
  color: #f44336;
  margin-top: 20px;
}

.Inscription__hide {
  display: none;
}

.Inscription__line-image-chooser {
  width: 300px;
}

.Inscription__image-input {
  margin-right: 10px;
  width: 200px;
}
